
@media (max-width: 576px){

}


@media (max-width: 355px){
    .wrap {
        width: 250px;
        margin: 1px 15px 1px 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    #img {
        width: 100px;
    }
}